.Delete_Container {
  display: flex;
  flex-direction: column;
  padding: 2rem 10rem 4rem 10rem;
  transition: 0.3s;
}

.Delete_Head {
  border-bottom: 1px solid var(--black-100);
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.Head_title {
  font-size: 1.8rem;
}

.Delete_Body {
  padding: 1rem 3rem 2rem 3rem;
  transition: 0.3s;
  line-height: 25px;
}
.text {
  font-size: 1.1rem;
  margin-bottom: 40px;
}
.list {
  margin-bottom: 20px;
}
.list_item {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-left: 20px;
}

.label {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
}
.checkbox {
  position: absolute;
  cursor: pointer;
  appearance: none;
  width: 18px;
  height: 18px;
  margin-top: 2px;
  border: 1px solid var(--black-100);
  border-radius: 3.5px;
}
.checkbox:active {
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.1),
    inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 130% 130%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: var(--blue-500);
  border-color: var(--blue-300);
  box-shadow: var(--wrapped-shadow);
}
.label_content {
  margin-left: 25px;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .Delete_Container {
    padding: 2rem 3rem 4rem 3rem;
    transition: 0.3s;
  }
  .Delete_Body {
    padding: 1rem 1rem 2rem 1rem;
    transition: 0.3s;
  }
}
