.MyProfile_Container {
  display: flex;
  flex-direction: row;
  padding: 0 0 1rem 0;
  margin: 0 2rem 2rem 2rem;
  border-bottom: 1px solid var(--black-100);
}

.MyProfile_image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 9rem;
  height: 9rem;
  margin: 2rem 1.5rem 2rem 0.5rem;
  border-radius: 6px;
  box-shadow: var(--black-150) 0px 2px 6px;
}
.user_image {
  width: 9rem;
  height: 9rem;
  transition: 0.2s;
}

.MyProfile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  margin-top: 1.8rem;
}
.user_name {
  color: var(--black);
  font-size: 2.5rem;
  transition: 0.3s;
}
.user_history {
  margin-top: 0.5rem;
  color: var(--black-350);
  font-size: 1rem;
  transition: 0.3s;
}
.user_history > span > .cake_icon {
  margin: 0 0.3rem 0 0.3rem;
  font-size: 1.1rem;
}
.user_history > span > .msg_icon {
  margin: 0 0.3rem 0 1rem;
  vertical-align: -0.1rem;
  font-size: 1.1rem;
}

.Button {
  font-family: inherit;
  appearance: none;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  align-items: center;
  top: 105px;
  right: 10rem;
  width: 110px;
  height: 36px;
  border: 1.2px solid var(--black-400);
  border-radius: 4px;
  color: var(--black-500);
  background-color: white;
}
.button_icon {
  font-size: 1.2rem;
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
}
.button_text {
  font-size: 0.9rem;
}
.Button:hover {
  background-color: var(--black-050);
}
.Button:active {
  background-color: var(--black-100);
}

@media (max-width: 768px) {
  .MyProfile_Container {
    flex-direction: column;
    margin: 0 1rem 2rem 1rem;
  }
  .MyProfile_image {
    width: 8rem;
    height: 8rem;
    margin: 2rem 1rem 0.5rem 0;
    border-radius: 6px;
    box-shadow: var(--black-150) 0px 2px 6px;
  }
  .user_image {
    width: 8rem;
    height: 8rem;
    transition: 0.2s;
  }
  .MyProfile_info {
    margin-top: 0.5rem;
    transition: 0.3s;
  }
  .user_name {
    font-size: 1.8rem;
    transition: 0.3s;
  }
  .user_history {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 0.9rem;
    transition: 0.3s;
  }
  .user_history > span > .msg_icon {
    margin: 0 0.3rem 0 0.3rem;
  }
  .Button {
    right: 0.5rem;
  }
}
