* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}
main.container {
  height: 100%;
  width: 70%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 2rem;
}

section {
  width: 90%;
}

.section_title {
  margin-bottom: 3rem;
  font-size: 2rem;
  
}

.section_bluebox {
  background-color: var(--blue-050);
  border: 1px solid ;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

.section_bluebox ul {
  margin-left: 2rem;
}

form {
  width: 90%;
  border: 1px solid;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form .AddTitle {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

form .AddTag {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

form .AddBody {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.textarea {
  width: 100%;
}

