.form {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 7px;
  box-shadow: var(--bs-xl);
}
.input {
  margin-bottom: 1rem;
}

.terms {
  margin-top: 2rem;
  font-size: 12px;
  color: var(--black-350);
}

.link {
  color: var(--blue-500);
  text-decoration: none;
}
