.label_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.label {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.link {
  font-size: 12px;
  text-decoration: none;
  color: var(--blue-600);
}
.link:hover {
  color: var(--blue-500);
}
.description {
  font-size: 12px;
  color: var(--black-500);
}
