.signup_container {
  max-width: 20rem;
  min-width: 16rem;
  height: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social_buttons {
  margin-bottom: 1.5rem;
  width: 100%;
}
