.Edit_image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 140px;
  height: 140px;
  border: 1px solid var(--black-100);
  border-radius: 6px;
}
.user_image {
  position: inherit;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.ChangePic_Btn {
  position: absolute;
  width: 140px;
  height: 25px;
  top: 114px;
  cursor: pointer;
  border: 1px solid var(--black-200);
  border-top: none;
  border-radius: 0 0 6px 6px;
  color: var(--white);
  background-color: hsla(210, 8%, 5%, 0.4);
  font-size: 1rem;
  transition: 0.2s;
}
.ChangePic_Btn:hover {
  background-color: hsla(210, 8%, 5%, 0.6);
  font-size: 1.05rem;
  transition: 0.2s;
}

.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 100;
  margin: 80px 0 0 375px;
  padding: 1rem 0.8rem 0.8rem 0.8rem;
  background-color: var(--white);
  border: 1px solid var(--black-200);
  border-radius: 10px;
  box-shadow: var(--black-100) 1px 2px 5px;
}
.Modal:after {
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent var(--white);
  content: '';
  position: absolute;
  top: 35px;
  left: -15px;
}
.Modal:before {
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent var(--black-400);
  content: '';
  position: absolute;
  top: 35px;
  left: -16px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black-100);
  margin-bottom: 10px;
  padding: 5px 0 10px 0;
}
.preview_image {
  width: 2.7rem;
  height: 2.7rem;
  border: 1px solid var(--black-200);
  border-radius: 6px;
  margin-left: 2px;
}
.input_file_button {
  margin-bottom: 5px;
  padding: 0.625rem;
  font-size: 13px;
  font-family: inherit;
  color: var(--white);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* 버튼 위 라인 효과 */
  box-shadow: inset 0 1px 0 0 hsl(0, 0%, 100%, 0.4);
  border: 1px solid transparent;
  text-decoration: none;
  background-color: var(--button-blue);
}
.input_file_button:hover {
  background-color: var(--button-blue-hover);
}
.orange_button {
  margin-left: 5px;
}
