.list {
  cursor: pointer;
  margin-left: 0.5rem;
}
.list:hover {
  background-color: var(--black-075);
  border-radius: 1000px;
}
.link {
  color: var(--black-600);
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  display: inline-block;
}
.list:hover .link {
  color: var(--black-800);
}
